@import "../../globals.scss";

.search-result {
  background-color: $bgGray;
  color: white;
  width: 402px;
  height: 67px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  .wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    img {
      border-radius: 50%;
      width: 12%;
      margin: 1rem;
    }

    .heading {
      font-size: 0.9rem;
      font-weight: 700;
    }
  }

  &:hover {
    background-color: $magentaLight;
  }
}
